<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home EJS</title>
</head>
<body>
    <h1>Our First EJS page</h1>
    <p>what you will about it it's going better or not</p>
    <button>click here!</button>
    <h2>here we will see the dynamic javascript</h2>
    <h2><%= "hello miss"%></h2>
</body>
</html>